.FilterBtn {
  font-size: 14px;
  line-height: 20px;

  .btn {
    width: 75px;
    height: 30px;
    margin: 0 5px;
    border: 0;
    background: #fff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px 0px 0px 4px;
    font-family: 'Merienda', sans-serif;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #000;
    &:first-child{
      margin-left: 35px;
    }
  }}