.OurCoffeeCS {
  .header {
    background: url("./../../res/Coffee_bg.jpg") no-repeat center;
    background-size: cover;
    min-height: 260px;
    color: #fff;
  }

  &__desc {
    display: flex;
    width: 700px;
    margin: 70px auto 60px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    justify-content: space-between;
    position: relative;

    &-text {
      text-align: center;
      width: 370px;
    }
  ;

    &-pic {
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
      width: 272px;
      height: 355px;
      background: #C4C4C4;
    }
  }

  &__list {
    margin-top: 60px;
  }
}

.line {
  margin: 0 auto;
  width: 240px;
  border-top: 1px solid #000;

}

.list {
  &__head {
    display: flex;
    max-width: 693px;
    margin: 0 auto 60px;
    justify-content: space-between;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    max-width: 922px;
    justify-content: space-between;
    margin: 0 auto;
    .cardCS {
      height: auto;
      display: flex;
      flex-direction: column;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
      margin-bottom: 60px;
      cursor: pointer;
      &:hover {
        box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.25);
      }

      &__img {
        width: 100%;
        height: auto;
        flex: 1;
      }

      .country {
        text-align: right;
      }

      p {
        margin: 5px 0;
      }

      &__name {
        margin-top: 10px !important;
      }
    }
  }
}